<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
    <div class="container bg-info">
        <table class="table">
            <tr>
                {% for col in nomiColonne %}
                    <th>{{col}}</th>
                {% endfor %}
            </tr>
            {% for record in dati %}
                <tr>
                    {% for index in range(nomiColonne|length) %}
                        <td>
                            {{record[index]}}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    <form action="/Risultato" method="get">
        <div class="mb-3 mt-3">
            <label for="Nome_Utente" class="form-label">Il tuo Nome:</label>
            <label for="Cognome_Utente" class="form-label">Il tuo Cognome:</label>
            <input type="text" class="form-control" id="Nome_Utente" placeholder="Inserisci il tuo First_Name" name="Nome_Utente">
            <input type="text" class="form-control" id="Cognome_Utente" placeholder="Inserisci il tuo Last_Name" name="Cognome_Utente">
        </div>
        <input type="submit" value="submit">
    </form>
</div>
</body>
</html>