<div>
    <style> 
    #rcorners2 {
        text-align: center;
        font-size:30px;
        position: absolute;
        left: 50%;
        transform: translate(-49%);
    }
    </style>
    <form action="https://3246-songalfio-flasksql-x2vaxjn8uet.ws-eu83.gitpod.io/Add_Song" method="post">
          <div>
            <a href="/" class="wyy"> 
                <img id="wyy" src="assets/neteasecloudmusic_93933(1).png" alt="">
            </a>
        </div>
        <div>
        <p id="rcorners2">
        <b>Add Song</b>
        <br>
        <br>

        <b>Nome Canzone: </b>
        <br>
        <input type="text" name="Nome"  required/>
        <br>    
        <br>
        <b>Tipo: </b>
        <br>
        <input type="text" name="Tipo" required/>
        <br>    
        <br>
        <b>for VIP: </b>
        <br>
        <label for="VIP"> Si</label><input type="radio" name="VIP" value="Si" id="VIP" required/>    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        <label for="VIP">No</label><input type="radio" name="VIP" value="No" id="VIP" required/>
        <br>
        <input type="submit" value="Add">    
        </div>
        
    </form>
    
    
    
    </div>