
<div class="container text-center bg-secondary" style="height: 660px;">  
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner" role="listbox">

        <div class="carousel-item active">

          <div class="card">
            
             <a href="/#"><img src="assets/安全着陆-安全自救手册封面.jpg" class="img-fluid" alt="..." height="200px" width="200px"></a>
              <div class="card-body">
                <h5 class="card-title">Safety on board</h5>
                <p class="card-text">Made by SafeLanding</p>
          </div>
          </div>
        </div>
        <div class="carousel-item">

          <div class="card">
             <a href="/#"><img src="https://i.ibb.co/JjGSpf8/109951162989632203.jpg" alt="109951162989632203"   height="200px" width="200px"></a>
          <div class="card-body">
            <h5 class="card-title">Slow it Dowm</h5>
            <p class="card-text">Made by ERIOE</p>
            </div>
            </div>
        </div>
        <div class="carousel-item">

          <div class="card">
             <a href="/#"><img src="https://i.ibb.co/DGZxbmh/109951168222024000.jpg" alt="109951168222024000"   height="200px" width="200px"></a>
          <div class="card-body">
            <h5 class="card-title">21:30</h5>
            <p class="card-text">Made by ERIOE</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">

          <div class="card">
             <a href="/#"><img src="https://i.ibb.co/svWY02J/109951162846810441.jpg" alt="109951162846810441"   height="200px" width="200px"></a>
          <div class="card-body">
            <h5 class="card-title">An Quan Zhuo Lu</h5>
            <p class="card-text">Made by SafeLanding</p>        
            </div>
          </div>
        </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
      </button>
    </div>

    
    <br>


    <div id="carouselExampleControls1" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner" role="listbox">

        <div class="carousel-item active" >

          <div class="card">
             <a href="/#"><img src="https://i.ibb.co/qkMS7bN/109951163910067493.jpg" alt="109951163910067493"   height="200px" width="200px"></a>
          <div class="card-body">
            <h5 class="card-title">1Question</h5>
            <p class="card-text">Made by Zinco</p>        
            </div>
          </div>
        </div>
        <div class="carousel-item">

          <div class="card">
             <a href="/#"><img src="https://i.ibb.co/YPZWPLx/109951163369021239.jpg" alt="109951163369021239"   height="200px" width="200px"></a>
          <div class="card-body">
            <h5 class="card-title">10</h5>
            <p class="card-text">Made by Zinco</p>        
          </div>
            </div>
        </div>
        <div class="carousel-item">

          <div class="card">
             <a href="/#"><img src="https://i.ibb.co/QmHfnC9/109951165691468006.jpg" alt="109951165691468006"   height="200px" width="200px"></a>
          <div class="card-body">
            <h5 class="card-title">Revenge Season <br> REMIXES</h5>
            <p class="card-text">Made by SFG</p>        
          </div>
          </div>
        </div>
        <div class="carousel-item">

          <div class="card">
             <a href="/#"><img src="https://i.ibb.co/8KYp5Wn/109951168174179462.png" alt="109951168174179462"   height="200px" width="200px"></a>
          <div class="card-body">
            <h5 class="card-title">Last Cristmas</h5>
            <p class="card-text">Made by SFG</p>        
            </div>
        </div>
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls1" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls1" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
</button>
</div>
</div>
