<div class="bg-light">

  <app-nav-bar></app-nav-bar>


<!--  <div *ngFor="let song of dataForHtml">
    <p>{{song.Nome}}</p>
    <p>{{song.Tipo}}</p>
  </div>
-->
  
  <app-carousel></app-carousel>

</div>



<div class="Container-fluid">
<table class="table-striped">
  <thead>
    <th class="col-3" >Team: </th>
    <th class="col-3" >contact us: </th>
    <th class="col-3" >About the site: </th>
    <th class="col-3" >Tell: </th>
  </thead> 
  <tbody>
    <td class="col-3" >Song Alfio</td>
    <td class="col-3" >Song.alfio@iisgalvanimi.edu.it</td>
    <td class="col-3" >This site has a goal of getting to know and hear the music and artists</td>
    <td class="col-3" >+39 327 9909042</td>
    
  </tbody>
</table>
</div>