<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"> 
<style> 
#rcorners2 {
    text-align: center;
    font-size:30px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
</style>


</head>
<body>

<form action="../../../../Python/Progetto_Musica.py/Login" method="post">
    <div>
        <a href="/" class="wyy"> 
            <img id="wyy" src="assets/neteasecloudmusic_93933(1).png" alt="">
        </a>
    </div>
    <div>
    <p id="rcorners2">
    <b>Log in</b>
    <br>
    <b>Nome Utente/Email</b>
    <br>
    <input type="text" name="U_O_E" required/>
    <br>
    <a href="/Sign_Up" >Non hai ancora un account?</a>

    <br>
    <br>
    <b>Password: </b>
    <br>
    <input type="password" name="Password" required/>
    <br>  
    <input type="submit" value="Log in">    
    </div>
</form>
</body>
</html>
