<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"> 
<title>wyy Home</title> 
<link rel="shortcut icon" href="/static/images/neteasecloudmusic_93933 (1).png" >
<link rel="stylesheet" href="static/css/Home.css">
<link rel="stylesheet" href="static/css/styles.css">

</head>
<body>
    <div class="nav navbar-expand-lg"> 
        <a href="/2" class="wyy" > <img id="wyy" src="/static/images/neteasecloudmusic_93933 (1).png" alt="" style="display:inline"></a>
        <ul> 
            <li><a class="nav-link active" aria-current="page" href="#"><em>scopri musiche</em></a></li>
            <li><a class="nav-link active" aria-current="page" href="#"><em>Songs</em></a></li>
            <li><a class="nav-link active" aria-current="page" href="#"><em>Music album</em></a></li>
        </ul> 
        <img id="Utente" src="/static/images/images.jpeg" alt="">
    </div> 


</body>
</html>


{{df}}