<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"> 
<title>Registrazione</title> 
<style> 
#rcorners2 {
    text-align: center;
    font-size:30px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
</style>
<link rel="shortcut icon" href="/static/images/neteasecloudmusic_93933 (1).png">
<link rel="stylesheet" href="static/css/Sign_Up.css">
<link rel="stylesheet" href="static/css/styles.css">

</head>
<body>

<form action="/Login" method="get">
    <div>
        <a href="/" class="wyy"> 
            <img id="wyy" src="/static/images/neteasecloudmusic_93933 (1).png" alt="">
        </a>
    </div>
    <p id="rcorners2">
    <b>Login</b>
    <br>
    <b>Username or Email: </b>
    <br>
    <input type="text" name="U_O_E" required/>
    <br>

    <br>
    <b>Password: </b>
    <br>
    <input type="password" name="Password" required/>
    <br>  

    <input type="submit" value="Login">
</p>
</form>
</body>
</html>

