<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"> 
<title>Registrazione</title> 
<style> 
#rcorners2 {
    text-align: center;
    font-size:30px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
</style>
<link rel="shortcut icon" href="/static/images/neteasecloudmusic_93933 (1).png">
<link rel="stylesheet" href="static/css/Sign_Up.css">
<link rel="stylesheet" href="static/css/styles.css">

</head>
<body>

<form action="/Registrazione" method="get">
    <div>
        <a href="/" class="wyy"> 
            <img id="wyy" src="/static/images/neteasecloudmusic_93933 (1).png" alt="">
        </a>
    </div>
    
    <p id="rcorners2">
    <b>Sign UP</b>
    <br>
    <b>Come ti possiamo chiamare? </b>
    <br>
    <input type="text" name="Nome_utente" required/>
    <br>
    <b>Email:</b>
    <br>
    <input type="email"name="Email" required/>
    <br>
    <b>Password: </b>
    <br>
    <input type="password" name="Password" required/>
    <br>  
    <b>Il tuo giorno di nascita:</b>
    <br>
    <input type="date" name="Età" required/>
    <br>
    <b>Il tuo sesso:</b>&nbsp&nbsp&nbsp
    <label for="Maschio"> Maschio</label><input type="radio" name="Sesso" value="Maschio" id="Maschio" required/>    &nbsp&nbsp&nbsp <label for="Femmina">Femmina</label><input type="radio" name="Sesso" value="Femmina" id="Femmina" required/>  <br> &nbsp&nbsp&nbsp  <label for="Nessuno dei entrambi">Nessuno dei entrambi</label><input type="radio" name="Sesso" value="Nessuno dei entrambi" id="Nessuno dei entrambi" required/>   &nbsp&nbsp&nbsp  <label for="Non voglio dire">Non voglio dire</label><input type="radio" name="Sesso" value="Non voglio dire" id="Non voglio dire" required/>
    <br>
    <input type="submit" value="Sign up">
</p>
</form>
</body>
</html>

