<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body class="bg-success">
    <div class="container-fluid">
            <img class="col-4" src={{url1}} alt="Chart" height="auto" >

            <form action="/result_Negozio" method="get">
                <div class="mb-3 mt-3">
                    <label for="NomeNegozio" class="form-label">Nome Del negozio:</label>
                    <input type="text" class="form-control" id="NomeNegozio" placeholder="Inserisci il Nome del Negozio" name="NomeNegozio">
                </div>
                <input type="submit" value="Ricerca">
            </form>
        </div>
    </div>
</body>
</html>