<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body class="bg-success">
    <div class="container-fluid">
            <img class="col-4" src={{url}} alt="Chart" height="auto">

            <form action="/result_Category" method="get">
                <div class="mb-3 mt-3">
                    <label for="NomeCategory" class="form-label">Nome Della categoria:</label>
                    <input type="text" class="form-control" id="NomeCategoty" placeholder="Inserisci il Nome della categoria" name="NomeCategory">
                </div>
                <input type="submit" value="Ricerca">
            </form>
        </div>
    </div>
</body>
</html>